.env
public/csv/
public/js/vendor/jquery-csv.min.js
public/js/vendor/requestanimationframe.js
public/js/walk.js
public/json/
public/video/
views/walk.html

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
