<% include header.html %>



<script>



$(document).ready( function() {

	var url = "https://api.foursquare.com/v2/checkins/recent"+
		"?oauth_token=<%= access_token %>" +
		"&limit=10"+
		"&v=20130424";

	$.ajax({url: url, success: function(data) {

		drawMap('map',data.response.recent);
	}});


});	

</script>


<div id="map"></div>

<div id="key">

	<h2>"Friend" Map</h2>

	<p>Orange points are recent check-ins by your "friends". Green points are optimally distanced from them.</p>

	<p>Click either point type for more information.</p>

	<div id="information"></div>


</div>

<% include footer.html %>