<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="description" content="Anti-social media experiment using FourSquare." />
		<meta name="author" content="Scott Garner" />
		<meta name="copyright" content="Copyright 2013 Scott Garner" />

		<meta name="viewport" content="initial-scale=1.0">

		<link rel="author" href="https://plus.google.com/102519483596854171931/"/>

		<title>Hell is Other People</title>
		<link rel="stylesheet" type="text/css" href="/css/screen.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>

		<script src="/js/vendor/rhill-voronoi-core.min.js"></script>

		<script src="/js/hell.js"></script>
		<script src="/js/map.js"></script>

	</head>
	<body>
