<html>

<head>

</head>

<body>


<p><em>Hell Is Other People</em> is an early attempt at what I'm calling anti-social media. By connecting your FourSquare account, this site will automatically track your check-ins and help me to stay as far from you as possible.</p>

<p><a href="https://foursquare.com/oauth2/authenticate?client_id=S1ZJDYD1JVMEP5IET2OMBIJ2RDLZJPZ4QTY3EFHSRVLAI3OX&response_type=code&redirect_uri=https://hellisotherpeople.herokuapp.com/redirect">Authorize</a></p>

<p>No personally identifying information is stored&mdash;just the time and geographical location of your last check-in along with an encrypted id so I can tell if you're a new user or somebody that's updating. I don't do anything that would affect your FourSquare account in any way. I don't even save the access token they give me to allow that.</p>


</body>

</html>