<% include head.html %>


<div id="content"  style="width:540px">

	<div id="logo">
		<a href=""><img src="/images/logo.png" width="500" height="200"/></a>
	</div>

	<div class="dialog">

		<p><em>Hell is Other People</em> is an experiment in anti-social media. Using FourSquare, this site will track your "friends" and calculate ideal locations for avoiding them.</p>

		<hr/>

		<p class="center">
			<a id="button" href="/friends/">Connect to FourSquare to Avoid Your "Friends" </a><br/>
			<a id="button" href="/map/">View a Sample Map of Other Site Users</a>
		</p>

		<hr/>

		<p class="center small">
			<a href="/about/">About</a> //
			<a href="/privacy/">Privacy</a> //
			<a href="http://scottmadethis.net">Scott Made This</a>
		</p>
	</div>

</div>

<% include foot.html %>