<% include head.html %>


<div id="content" class="home">

	<div class="dialog">

		<div id="logo"><a href=""><img src="/images/logo.png" width="360" height="150"/></a></div>

		<hr/>

		<p><em>Hell is Other People</em> is an experiment in anti-social media. Using FourSquare, this site will track your "friends" and calculate optimally distanced locations for avoiding them.</p>

		<hr/>

		<p class="center">
			<a id="button" href="/friends/">Connect to FourSquare to Avoid Your "Friends" </a><br/>
			<a id="button" href="/map/">View a Sample Map of Other Site Users</a>
		</p>

		<hr/>

		<p class="center small">
			<a href="/about/">About</a> //
			<a href="/privacy/">Privacy</a> //
			<a href="http://scottmadethis.net">Scott Made This</a>
		</p>

		<br/>
	</div>

</div>

<% include foot.html %>