<% include header.html %>

<script>

var dimensions = {width: 400, height: 745};
var bounds = {n:40.682949,w:-74.047852,s:40.881989,e:-73.906693};
var nodes =  [];
var sites = [];
var radius = 5;

$(document).ready( function() {


	// Raphael Setup
	////////////////

	var paper = Raphael("mapPaper", 400, 745);


	// Fetch and Process
	////////////////////

	$.ajax({
		url: '/json/',
		success: function(data) {
			console.log(data);

			//sites = data.slice(0);

			var voronoi = new Voronoi();
  			var bbox = {xl:0,xr:dimensions.width,yt:0,yb:dimensions.height};
  			//var bbox = {xl:bounds.w,xr:bounds.e,yt:bounds.n,yb:bounds.s};

			$(data).each(function(index,value) {	

				var location = {latitude: value.location_lat, longitude: value.location_lng}
				var point = locationToPoint( location, bounds, dimensions);

				sites.push(point);

			});


			// Calculate Voronoi
			////////////////////

			var diagram = voronoi.compute(sites, bbox);

			// Draw Edges
			/////////////

			nodes = diagram.vertices;

			$(diagram.edges).each( function (index, value) {

				//var startPoint = locationToPoint( { longitude: value.va.x, latitude: value.va.y} ,bounds,dimensions);
				//var endPoint = locationToPoint( { longitude: value.vb.x, latitude: value.vb.y} ,bounds,dimensions);

				var startPoint = value.va;
				var endPoint = value.vb;

       			var path = "M" + startPoint.x + " " + startPoint.y + " L" + endPoint.x + " " + endPoint.y;
				var line = paper.path(path)
				    .attr("stroke", "#99CCFF")
				    .attr("stroke-width", "1.5");


			});

			// Draw Sites
			/////////////

			$(sites).each( function(index, value){

				paper.circle(value.x , value.y, radius)
				.attr({fill: "#F6B83C", stroke: 'none', cursor: "pointer"})
				.data("index",index)
				.click(function () {
					showPoint(sites[index]);
				});

			});

			// Draw Nodes
			/////////////

			$(nodes).each( function(index, value){

				if (value.x != 0 && value.x != dimensions.width && value.y != 0 && value.y != dimensions.height) {

					paper.circle(value.x , value.y, radius)
					.attr({fill: "#b1f317", stroke: 'none', cursor: "pointer"})
					.data('index', index)
					.click(function () {
						showPoint(nodes[index]);
					});
				}

			});


			

		}
	});

});

function showPoint(point) {

	var location = pointToLocation(point, bounds, dimensions);
	
	$("#informationTitle").text("Point Information");
	$("#informationImage")
		.attr('src', "http://maps.googleapis.com/maps/api/streetview" +
			"?size=308x120" +
			"&location=" + location.latitude + "," + location.longitude + 
			"&fov=120&sensor=false")
		.attr({width: 308, height: 120});
	$("#informationLink")
		.attr('href', "http://maps.google.com/?q=" + location.latitude + "," + location.longitude);
	$("#informationLatitude").text(location.latitude);
	$("#informationLongitude").text(location.longitude);
	$("#informationAddress").text("");
	$("#information").fadeIn('slow');

	// Lookup Data

	var url = "http://maps.googleapis.com/maps/api/geocode/json" +
		"?latlng=" + location.latitude + "," + location.longitude + 
		"&sensor=false"
	$.ajax({ url: url, success: function(data) {

		var html = (data.results[0].formatted_address).replace(",","<br/>");
		$("#informationAddress").html(html);
	}})

}


function locationToPoint (location, bounds, dimensions) {

	var pixelsPerLat = dimensions.height/(bounds.n-bounds.s);
	var pixelsPerLong = dimensions.width/(bounds.e-bounds.w);

	var x = (location.longitude-bounds.w)*pixelsPerLong;
	var y = dimensions.height + (location.latitude-bounds.n)*pixelsPerLat;

	return {x: x, y: y}
}

function pointToLocation(point, bounds, dimensions) {

	var latPerPixel = (bounds.n-bounds.s) / dimensions.height;
	var longPerPixel = (bounds.e-bounds.w) / dimensions.width;

	var longitude = (point.x * longPerPixel) + bounds.w;
	var latitude = ((point.y - dimensions.height) * latPerPixel) + bounds.n;

	return {latitude: latitude, longitude: longitude};

}

</script>

<div id="map">
	<img id="mapImage" src="http://s3.amazonaws.com/hellisotherpeople/map.jpg" width="400" height="745"/>
	<div id="mapPaper"></div>
</div>

<div id="locations">

	<h2>Map</h2>

	<p>Points shown in orange are recent check-ins. Points shown in green are locations optimally distanced from those users.</p>

	<p>Click either point type for more information.</p>

	<hr/>

	<div id="information">

		<h2 id="informationTitle">Title</h2>

		<a id="informationLink" href=""><img id="informationImage"/></a><br/>
		<label>Latitude</label><br/><span id="informationLatitude">Lat</span><br/>
		<label>Longitude</label><br/><span id="informationLongitude">Long</span><br/>
		<label>Address</label><br/><span id="informationAddress">Address</span></br>

	</div>

</div>

<% include footer.html %>