<% include header.html %>

<script>

$(document).ready( function() {

	$.ajax({
		url: '/json/',
		success: function(data) {
			console.log(data);
			drawMap('map',data);

		}
	});

});

</script>

<div id="map"></div>

<div id="locations">

	<h2>Map</h2>

	<p>Points shown in orange are recent check-ins. Points shown in green are locations optimally distanced from those users.</p>

	<p>Click either point type for more information.</p>

	<hr/>

	<div id="information">

		<h2 id="informationTitle">Title</h2>

		<a id="informationLink" href=""><img id="informationImage"/></a><br/>
		<label>Latitude</label><br/><span id="informationLatitude">Lat</span><br/>
		<label>Longitude</label><br/><span id="informationLongitude">Long</span><br/>
		<label>Address</label><br/><span id="informationAddress">Address</span></br>

	</div>

</div>

<% include footer.html %>