<% include header.html %>

<h2>Privacy</h2>

<p>This is an art experiment, so there are risks. That said, I don't store any personally identifying data&mdash;just the time and geographic location of your last check-in, along with an encrypted idenifier so I can tell if you're a new or returning user (but not actually who you are).</p>

<p>I also don't do anything that affects your FourSquare account in any way. I don't even store the authorization token that would allow me to do so.</p>

<% include footer.html %>