body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   line-height: 1.4em;
   background: #cfcfcf;
   font-size: 11pt;
   background: url('//s3.amazonaws.com/hellisotherpeople/background.jpg');
}

#content {
	position: relative;
	border-radius: 2px;
	padding: 4px 12px;
	background: #efefef;
	width: 720px;
	margin: auto;
	margin-top: 64px;
	background: url('//s3.amazonaws.com/hellisotherpeople/foreground.jpg');
	box-shadow: 2px 2px 6px #000;
}

#button {
	border: 1px solid #333;
	display: inline;
	padding: 4px;
	border-radius: 2px;
	background: #ccc;
	text-decoration: none;
}

#button:hover {
	background: #efefef;
}

#map {
	position: relative;
	width: 400px;
	height: 500px;
	float: left;
	margin-right: 12px;
}

#key {
	position:relative;	
	height: 500px;
	margin-left: 412px;
	overflow: hidden;
}

#information label, #information span, #key p {
	font-size: .9em;
	display: block;
}

#information label {
	color: #666;
}

h1 {

	font-size: 1.5em;
	font-weight: normal;
	font-family: Georgia;
	text-align: center;
	font-style: italic;
}

h2 {

	font-size: 1em;
	font-weight: normal;
	font-family: Georgia;
	color: #666;

}

h1 a {
	text-decoration: none;
	font-color: #333;
}

hr {

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
}

a {
	color: #333;
}

header {
}

footer {
	font-size: .8em;
	text-align: right;
}

footer a {
	color: #999;
}